<html lang="en">
<head>
  <title>Stream video</title>
</head>
<body>
  <h1>Stream video</h1>
  <video id="localStream" with="100px" controls></video>
</body>
<script src="bundle.js"></script>
</html>
