<html lang="en">
<head>
  <title>Stream video</title>
</head>
<body>
  <h1>Stream video</h1>
  <video id="localStream" with="100px" controls></video></br>
  <video id="friendStream" with="100px" controls></video></br>
  <label><h3>My connection Token </h3></label></br>
  <textarea rows="=3" cols="100" id="txtMySignal"></textarea>
</br></br>
<input type="text" placeholder="Your friend's token" id="txtFriendSignal"/>
</br></br>
<button id="btnConnect">Connect</button>
</body>
<script src="bundle.js"></script>
</html>
